<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Paginas asociadas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">

  <div class="gallery-description">
    <p>Conoce a nuestros colaboradores que nos ayudan a traerte las mejores ofertas</p>
  </div>

  <ion-grid>
    <ion-row>
      <ion-col size="6">
        <ion-img src="../../assets/affiliates/knasta.svg"></ion-img>
      </ion-col>
      <ion-col size="6">
        <ion-img src="../../assets/affiliates/descuentosrata.png"></ion-img>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="6">
        <ion-img src="../../assets/affiliates/odum.png"></ion-img>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
