<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="mainMenu"></ion-menu-button>
    </ion-buttons>
    <ion-title>Mis ofertas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list class="product-list">

    <ion-item lines="none">
      <ion-thumbnail slot="start">
        <img src="../../assets/products/product1.jpg" />
      </ion-thumbnail>
      <ion-label>
        <h2>Especias por kilo</h2>
        <p>Bulnes 342, Temuco</p>
        <p class="price">$2.500</p>
      </ion-label>
    </ion-item>

    <ion-item lines="none">
      <ion-thumbnail slot="start">
        <img src="../../assets/products/product2.jpg" />
      </ion-thumbnail>
      <ion-label>
        <h2>Sandwichs baratos</h2>
        <p>Javiera Carrera 131, Temuco</p>
        <p class="price">$2.000</p>
      </ion-label>
    </ion-item>

  </ion-list>
</ion-content>
